*{
    width: 485px;  font-size: 1.2em;
    margin: 0%;
    padding: 0%;

}

.main .first_slide img{
    height: 25%;
    border: 2px solid white;
}

.main .Name{
    margin-top: -90%;
    background-color: transparent;
}
.main .Name span{
    margin-left: 15%;
    font-weight: bolder;
    color: rgb(223, 100, 0);
    text-align: center;
    text-shadow: 
    -1px -1px 0 #ffffff, /* Top left */
    1px -1px 0 #ffffff, /* Top right */
    -1px 1px 0 #ffffff, /* Bottom left */
    1px 1px 0 #ffffff; /* Bottom right */
}
.main .Name .da{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 23%;
    font-size: 18px;
    text-shadow: 
          -1px -1px 0 #000, /* Top left */
          1px -1px 0 #000, /* Top right */
          -1px 1px 0 #000, /* Bottom left */
          1px 1px 0 #000; /* Bottom right */      
}
.main .Name .date{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: 2px 5px 4px solid white;
    margin-left: 33%;
    font-size: 17px;
    text-shadow: 
    -1px -1px 0 #ffffff, /* Top left */
    1px -1px 0 #ffffff, /* Top right */
    -1px 1px 0 #ffffff, /* Bottom left */
    1px 1px 0 #ffffff; /* Bottom right */
}